[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://gitlab.tudelft.nl/api/v4/projects/11239/packages/pypi/simple"
verify_ssl = true
name = "gitlabtudelft"

[packages]
numpy = "==2.2.2"
scikit-learn = "==1.6.1"
scipy = "==1.15.1"
pandas = "==2.2.3"
matplotlib = "==3.10.0"
jupyter = "==1.1.1"
jupyter-book = {extras=["sphinx"], version="==1.0.3"}
tomli = "==2.2.1"
exceptiongroup = "==1.2.2"
sphinx-thebe = {version = "~=0.9.9", index = "gitlabtudelft"}
teachbooks = "*"
jupyterbook-patches = "*"
sphinx-image-inverter = "*"
download_link_replacer = "*"
sphinx-exercise = "*"
teachbooks-sphinx-tippy = "*"


[dev-packages]
pre-commit = "==4.1.0"
pre-commit-uv = "==4.1.4"
uv = "==0.5.29"

[requires]
python_version = "3.11"

[scripts]
build = "bash ../.github/workflows/build_book.sh"
format = "pre-commit run --all-files"
