[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
jupyter = "==1.1.1"
octave-kernel = "==0.36.0"
ipython = "<9"

[dev-packages]
uv = "==0.5.29"

# Auxiliary
tomli = "==2.2.1"
exceptiongroup = "==1.2.2"
pexpect = "==4.9.0"


[requires]
python_version = "3.11"

[scripts]
build = "bash ../.github/workflows/build_book.sh"
format = "pre-commit run --all-files"
